@use 'variables.scss' as v;
@use 'mixins.scss' as m;
@use 'functions.scss' as f;

/* Components FirstScreen */
.first__screen {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  img {
    width: 80%;
    max-width: 350px;
  }
}